h2{
    text-align: center;
    text-decoration: solid;
    color: #deac8a;
}
.form-recipe{
    display: flex;
    justify-content:  center;
    align-items: center;
    
}
 #Table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    justify-content: center;
    display: flex;
    padding-top: 10px;

    
}

#Table td,
#Table th {
    border: 1px solid #ddd;
    padding: 8px;
}
#Table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.delete-icon{
    color: red;
}