.nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style: none;
}

.links li button {
    outline: none;
    padding: 0.4em 2.5em;
    border: none;
    font-family: 'Lato', sans-serif;
}

.login-btn {
    margin-right: 3em;
    border: none;
    background-color: #f9e9ec;
}

.register-btn {
    margin-right: 3em;
    background: #456488;
    border: 1px solid black;
}

.nav-icon {
    display: none;
}

