body{
    background: url('https://res.cloudinary.com/ddh4kd4ab/image/upload/v1621721067/mariana-medvedeva-iNwCO9ycBlc-unsplash_ww41la.jpg');
    background-size:cover;
    background-repeat: no-repeat;
}